/* These are the colors used for the company*/
/* #531CB3 #944BBB #7A1FAC #CC92C2 #ECA7EC */

body
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #944BBB;
    background-color: #CC92C2;
    margin-left: 75px;
    margin-right: 75px;
}

header,footer
{
    text-align: center;
    color: #531CB3;
    font-weight: bold;
}

h2
{
    text-align: center;
    color: #531CB3;
}

hr
{
    background-color: #eca7ec;
    height: 2px;
    border: none;
}

.project_header
{
    font-size: 200%;
    line-height: 0px;
}

.homepage_header
{
    color: #531CB3;
}

a
{
    display: inline-block;
    margin: 10px;
    color: #7a1fac;
    padding: 5px;
}

a:hover
{
    background-color: #eca7ec;
    border-style: solid;
    border-color: #7a1fac;
}

figure
{
    text-align: center;
}

figcaption
{
    font-style: italic;
}

nav
{
    text-align: center;
    color: #eca7ec
}

.CRAPList
{
    color: black;
}

/* Styles for Polygon Page */
#polygonButton
{
    text-align: center;
    margin: 30px;
}

/* Styles for Calculator Try */
.calculator-keys
{
    display: grid;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 40px;
    grid-template-rows: repeat(5, 100px);
    grid-template-columns: repeat(4, 1fr);

    text-align: center;
    justify-content: center;
    align-items: center;
}

#calculator-display
{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 40px;
    height: 60px;
    text-align: right;
    background-color: #AA7BC3;
    color: #531CB3;
    padding-right: 20px;
    border: 2px #531CB3 solid;
}

.calcbutton
{
    font-size: 30px;
    display: block;
    width: 100%;
    height: 100px;
    padding: 10px 55px;
    color: #531CB3;
    background-color: #DBA8AC;
}

.calcbuttonequals
{
    display: block;
    width: 100%;
    height: 400px;
    background-color: #DBA8AC;
    color: #531CB3;
}

.pluskey
{
    grid-area: 1/1/2/2;
}


.minuskey
{
    grid-area: 1/2/2/3;
}

.multiplication
{
    grid-area: 1/3/2/4;
}

.division
{
    grid-area: 1/4/2/5;
}

.equalskey
{
    grid-area: 2/4/6/5;
}

/* This is CSS for the FCC Calculator */
.container
{
    max-width: 20em;
}
  
.container > p
{
    text-align: center;
}

.calculator 
{
    border-radius: 12px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 15em;
    overflow: hidden;
}

.calculator__keys
{
    background-color: #999;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
}

.calculator__display 
{
    background-color: #222222;
    color: #fff;
    font-size: 1.714285714em;
    padding: 0.5em 0.75em;
    text-align: right;
}

.calculator__keys > *
 {
    background-color: #fff;
    padding: 0.5em 1.25em;
    position: relative;
    text-align: center;
 }

.calculator__keys > *:active::before,
.calculator__keys > .is-depressed::before
{
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
    content: "";
    left: 0;
    opacity: 0.3;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.key--operator
{
    background-color: #eee;
}

.key--equal 
{
    background-image: linear-gradient(to bottom, #fe886a, #ff7033);
    grid-column: -2;
    grid-row: 2 / span 4;
}

/* Styles for Image Gallery (Slideshow) */
#gallery
{
    text-align: center;
    margin-bottom: 50px;
}

#gallery_links
{
    text-align: center;
    margin-bottom: 20px;
}

#pics_holder
{
    text-align: center;
}

#pics_holder ul
{
    list-style: none;
}