body
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: cyan;
    background-color: slategray;
    margin-left: 75px;
    margin-right: 75px;
}

header,footer
{
    text-align: center;
    color: cornflowerblue;
    font-weight: bold;
}

h2
{
    text-align: center;
    color: cornflowerblue;
}

h3
{
    font-size: 200%;
    line-height: 0px;
}

a
{
    text-decoration: none;
    color: lightsteelblue;
}

a:hover
{
    text-decoration: overline underline;
}

figure
{
    text-align: center;
}

figcaption
{
    font-style: italic;
}

nav
{
    text-align: center;
}

#CRAPList
{
    color: black;
}