body
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(141, 176, 241);
    background-color: rgb(3, 36, 70);
    margin-left: 75px;
    margin-right: 75px;
}

input[type=text]
{
    padding:4px 10px;
    margin: 10px 0;
}

input[type=email]
{
    padding: 4px 10px;
    margin: 10px 0;
}

input[type=tel]
{
    padding: 4px 10px;
    margin: 10px 0;
}

p
{
    text-align: center;
}

p.title
{
    font-size: 20px;
    text-align: left;
}

p.question
{
    text-align: left;
    margin: top;
}

header,footer
{
    text-align: center;
    color: rgb(141, 176, 241);
    font-weight: bold;
}

h2
{
    text-align: center;
    color: rgb(141, 176, 241);
}

h3
{
    font-size: 200%;
    line-height: 0px;
}

a
{
    text-decoration: none;
    color:rgb(159, 159, 231);
}

a:hover
{
    text-decoration: overline underline;
}

figure
{
    text-align: center;
}

figcaption
{
    font-style: italic;
}

nav
{
    text-align: center;
}