body
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #944BBB;
    background-color: #CC92C2;
    margin-left: 75px;
    margin-right: 75px;
}

header,footer
{
    text-align: center;
    color: #531CB3;
    font-weight: bold;
}

h2
{
    text-align: center;
    color: #531CB3;
}

h3
{
    font-size: 200%;
    line-height: 0px;
}

a
{
    text-decoration: none;
    color: #944BBB;
}

a:hover
{
    text-decoration: overline underline;
}

figure
{
    text-align: center;
}

figcaption
{
    font-style: italic;
}

nav
{
    text-align: center;
    color: #DBA8AC
}

.CRAPList
{
    color: black;
}

#polygonButton
{
    text-align: center;
    margin: 30px;
}