body {
    background-color: rgb(73, 70, 70);
    padding-top: 10px;
}

nav {
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
    background-color: black;
    border-style: solid;
    border-top: 1px solid azure;
    border-bottom: 1px solid azure;
    position: fixed;
}

a {
    color: azure;
    padding: 10px;
}

a:hover {
    background-color: gray;
}

h1 {
    text-align: center;
}