body {
    background-color: rgb(73, 70, 70);
    padding-top: 50px;
    margin: 10px;
}

/* Navigation Bar */
#navbar {
    background-color: #333;
    border-bottom: 2px solid azure;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* Nav Links */
#navbar a {
    float: left;
    font-size: 16px;
    color: azure;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Dropdown Container */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

#navbar a:hover, .dropdown:hover .dropbtn {
    background-color: gray;
}

/* Dropdown menu items */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: azure;
    min-width: 160px;
    margin-top: 46.5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* To keep the border for the navigation bar */
.dropdown-content a:first-of-type {
    border-top: 2px solid azure;
}

/* Dividers for dropdown */
.dropdown-content > * + * {
    border-top: 1px solid #333;
}

#navbar .dropdown .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #777;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Possibly needs a new font */
h1 {
    text-align: center;
    padding-bottom: 10px;
}

/** DUNGEON CRAWLER **/

#game-container {
    align-self: center;
    border: 2px solid azure;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin: 50px 150px 0px 150px;
    padding: 20px 30px 10px 30px;
}

#game-display {
    align-self: center;
    border: 2px solid azure;
    height: 150px;
}