body {
    background-color: rgb(73, 70, 70);
}

nav {
    position: fixed;
    top: 0px;
    background-color: black;
    border-style: solid;
    border-top: 1px solid azure;
    border-bottom: 1px solid azure;
    padding: 5px;
}

a {
    color: azure;
    padding: 5px;
}

a:hover {
    background-color: gray;
}

h1 {
    text-align: center;
}