<footer>
    <nav>
        <a href="https://webpages.uncc.edu/pha1/itis3135/brand/index.html">Purple Trusting Hydra, LLC.</a>
        <a href="https://americaonwheels.org/cars-and-coffee-locations/">Cars and Coffee</a>
        <a href="https://charlottecarshows.com/">Charlotte Car Shows</a>
        <a href="https://www.geico.com/save/local-gas-prices/">Gas Prices Near You</a>
    </nav>
    <p>Designed by Purple Trusting Hydra, LLC</p>
    <p>Copyright 2021 Purple Trusting Hydra, LLC</p>
</footer>