/** General CSS **/
@font-face {
    font-family: myFirstFont;
    src: url('fonts/HelveticaNeue\ Bold.ttf');
}

h1 {
    font-family: myFirstFont;
    color: red;
    font-size: 5vw;
}

p {
    color: red;
    font-size: 2vw;
}

label {
    color: red;
    font-family: myFirstFont;
    font-size: 2vw;
}

/** Video CSS **/

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
  }
  
  /* Add some content in the center of the video/page */
.content {
    top: 30%;
    text-align: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.videoContainer{
    z-index: -100;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
  }

#jerome-logo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: auto;
}

/* Logo animation property */
#jerome-logo:hover {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.responsive {
    max-width: 100%;
    height: auto;
  }

  /** Splash Screen **/
.blank-container{
    position: fixed;
    z-index: 1;
    background-color: #161616;
    height: 100%;
    width: 100%;
}

.intro {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

#intro-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeInOut 1.8s linear 1 forwards;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  /** Submit Button **/
.btn-container {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.button{
    position: relative;
    font-size: 8px;
}

.button, .tick {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.button {
    border: 1px #161616 solid;
    width: 100px;
    height: 30px;
    background: dodgerblue;
    border-radius: 6px;
    transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
}

.button svg {
    transform: rotate(180deg);
    transition: all .5s;
}

.button__circle {
    width: 55px;
    height: 55px;
    background: limegreen;
    border-radius: 50%;
    transform: rotate(-180deg);
}

.button:hover {
    cursor: pointer;
}

.tick {
    color: white;
    font-size: 2em;
    transition: all .9s;
}

#tick.flip{ 
  -moz-transform: scale(-1, -1); 
  -o-transform: scale(-1, -1); 
  -webkit-transform: scale(-1, -1); 
  transform: scale(-1, -1); 
  filter: FlipH;  
}

/** Mobile CSS */
@media screen and (max-width: 767px) {
    #jerome-logo {
        width: 100%;
        max-width: 100px;
        height: auto;
    }
    h1 {
        color: limegreen;
        font-size: 7vw;
    }
    
    p {
        color: limegreen;
        font-size: 3vw;
    }
    
    label {
        color: limegreen;
        font-size: 4vw;
    }

    #intro-logo {
        width: 100px;
        height: 100px;
    }

    .button {
        width: 80px;
        height: 25px;
        font-size: 6px;
    }

    .button__circle {
        width: 40px;
        height: 40px;
    }
}
