h1 {
    font-family: myFirstFont;
    background-color: orange;
    display: inline-block;
    margin-bottom: 10px;
}

p {
    background-color: orange;
    display:inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.jerome {
    width: 40vw;
    height: 40vh;
    display:table-cell;
}

img {
    max-width:100%;
    height:auto;
    max-height:100%;
    vertical-align: middle;
    text-align: center;
}