h1 {
    font-family: myFirstFont;
    background-color: orange;
    display: inline;
}

p {
    background-color: orange;
    display:inline
}

.jerome {
    width: 60vw;
    height: 60vh;
    display:table-cell;
    vertical-align: middle;
    text-align: center;
}

img {
    max-width:100%;
    height:auto;
    max-height:100%;
}