h1 {
    font-family: myFirstFont;
    background-color: orange;
    display: inline;
}

p {
    background-color: orange;
    display:inline
}

.jerome {
    width: 80vw;
    height: 80vh;
}

img {
    max-width:100%;
    height:auto;
    max-height:100%;
}