<nav>
    <a href="index.html">Home</a>
    <a href="introduction.html">Introduction</a>
    <a href="contract.html">Contract</a>
    <a href="tables.html">HTML Tables</a>
    <a href="forms.html">HTML Forms</a>
    <a href="website_evaluations.html">Website Evaluations</a>
    <a href="first-scripts.html">First JavaScript</a>
    <a href="name-the-polygon.html">Name the Polygon</a>
    <a href="calculator_try.html">Calculator Try</a>
    <a href="calculator_fcc.html">Calculator FCC</a>
    <a href="arrays.html">Arrays</a>
    <a href="project_rand.html">Project Design</a>
    <a href="slideshow.html">JQuery Slideshow</a>
    <a href="Ha-Activity10.html">Activity 10</a>
    <a href="Activity11/Ha-Activity11.html">Accordion Widget</a>
    <a href="Updated-Activity12/Ha-Activity12.html">Modify Carousel App</a>
    <a href="project/">Project Home Page</a>
    <a href="Activity15/Ha-Activity15.html">Activity 15</a>
    <a href="Activity16/Ha-Activity16.html">Activity 16</a>
</nav>