<nav>
    <a href="http://webpages.uncc.edu/pha1/" target="_blank">Charlotte.edu</a> &#9553;
    <a href="https://github.com/pha1" target="_blank">Github</a> &#9553;
    <a href="https://pha1.github.io/" target="_blank">Github.io</a> &#9553;
    <a href="https://pha1.github.io/itis3135/" target="_blank">ITIS 3135 Github Pages</a> &#9553;
    <a href="https://www.codecademy.com/profiles/pha1" target="_blank">Codecademy</a> &#9553;
    <a href="https://www.freecodecamp.org/pha1" target="_blank">freeCodeCamp</a> &#9553;
    <a href="https://jsfiddle.net/user/pha1_uncc" target="_blank">JSFiddle</a> &#9553;
    <a href="https://www.linkedin.com/in/phi-ha-29272b21b/" target="_blank">LinkedIn</a> &#9553;
</nav>